.po_items_ho {
  display: flex;
  flex-wrap: wrap;
}

.po_item {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--added-color); /* White outline around each item */
  display: flex; /* Ensures children are flex items */
}

.added_title {
  text-align: center;
  font-size: 1.75rem; /* Larger title size */
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  width: 100%; /* Ensure title spans full width */
}

.po_content {
  display: flex;
  align-items: stretch; /* Align items to stretch vertically */
  width: 100%; /* Ensure po_content takes full width */
}

.po_content .image {
  flex: 1;
  max-width: 30%; /* Maximum 30% width for the image */
  position: relative;
  overflow: hidden;
  padding: 1rem;
  height: 100%; /* Take up 100% of the height of the parent (po_item) */
  display: flex; /* Allow children to be flex items */
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.po_content .image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* Ensures the image covers the available space while maintaining aspect ratio */
  transition: transform 0.3s ease;
}

.po_content .image img:hover{
  transform: scale(1.05);
}

.content {
  flex: 1;
  padding: 1rem; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 1rem; /* Adjust margin as needed */
}

.po_item .description p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.po_item .description a {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: auto; /* Align button to the bottom */
}
